{% extends 'layout/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/flex-slider.css' %}">
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="contact-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>{{ title }}</h1>
              <div class="container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ edit_form }}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button class="btn btn-round" type="button">
                        <a href="{% url 'mainapp:index' %}">на главную</a>
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->
{% endblock %}


{% block js %}
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/flex-slider.js' %}"></script>
{% endblock %}
