#navbarResponsive {
	top: 23px;
}

.contact-page {
    margin-top: 0;
}

.featured-page {
    margin-top: 80px;
}

#filters a {
    color: #1e1e1e;
}

#filters a:hover,
#filters a:active,
#filters .active a {
    color: #3a8bcd;
}

#pre-header .blue-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#pre-header a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

#pre-header .basket {
    justify-content: flex-end;
    align-items: flex-start;
    background: url("../images/basket.png") no-repeat;
    width: 28px;
    height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#pre-header .basket span {
    width: 16px;
    height: 16px;
    font-size: 13px;
    padding: 0;
    text-align: center;
    background-color: #3a8bcd;
    border-radius: 50%;
}