<div class="col-md-8 col-sm-12">
    <div id="filters" class="button-group">
        <button class="btn btn-primary{% if not category.pk %} active{% endif %}" >
            <a href="{% url 'mainapp:products' %}">Все</a>
        </button>
        
        {% for cat in categories %}
            <button class="btn btn-primary{% if category.pk == cat.pk %}active{% endif %}">
                <a href="{% url 'mainapp:category' cat.pk %}">{{ cat.name }}</a>
            </button>
        {% endfor %}
    </div>
</div>